<core-scaffold>

  <core-header-panel navigation flex mode="seamed">
    <core-toolbar style="background-color: #526E9C; color: #fff;">Application</core-toolbar>
    <core-menu>
      <core-item icon="settings" label="item1"></core-item>
      <core-item icon="settings" label="item2"></core-item>
    </core-menu>
  </core-header-panel>

  <div tool>Title</div>

  <div class="content">Content goes here...</div>

</core-scaffold>




<div ng-controller="HomepageCtrl">
    <div ui-view="navbar"></div>
    <div id="content" ng-controller="HomepageCtrl" ng-show="model.isLoggedIn() && model.hasPin()">

        <div ui-view="content" style="margin-top: 40px"></div>
    </div>

    <div id="content" ng-show="model.isLoggedIn() && !model.hasPin()">
        <div ui-view="navbar"></div>
        <div ui-view="enterPin" style="margin-top: 40px"></div>
    </div>

    <div id="content" ng-show="!model.isLoggedIn()">
        <div ui-view="navbar"></div>
        <div ui-view="login" style="margin-top: 40px"></div>
    </div>
</div>

asdf
