

<div ng-controller="HomepageCtrl">
    <div ui-view="navbar"></div>
    <div id="content" ng-controller="HomepageCtrl" ng-show="model.isLoggedIn() && model.hasPin()">

        <div ui-view="content" style="margin-top: 40px"></div>
    </div>

    <div id="content" ng-show="model.isLoggedIn() && !model.hasPin()">
        <div ui-view="navbar"></div>
        <div ui-view="enterPin" style="margin-top: 40px"></div>
    </div>

    <div id="content" ng-show="!model.isLoggedIn()">
        <div ui-view="navbar"></div>
        <div ui-view="login" style="margin-top: 40px"></div>
    </div>
</div>

asdf